In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("info.csv")
df.head()

,nombre,apellido,mensaje,input
0,paula,fernandez,dni 7777777y,"el lunes tuve 37, el martes 39"
1,aitor,rodriguez,hola mi dni es 12345678X,tengo 39 grados
2,carolina,perez,062626200w,"37C, 36.5C, 38ºC"

### 1. Definir el patrón

In [3]:
patron_dni = r"(\d{7,8}-*[A-Za-z])"

In [4]:
fiebre = r'(\d{2}[\.\d{1,2}]*[ºCc]*\b)'

### 2. Definir función o lambda

In [5]:
def coincidencia (patron, string):
    dni = re.search(patron, string)
    return dni.group()

In [6]:
def lista_coincidencias (patron, string):
    dni = re.findall(patron, string)
    return dni

### 3. Aplicar la función a un DF

In [7]:
df['DNI_REGEX'] = df.mensaje.apply(lambda x: coincidencia(patron_dni, x))
df.head()

,nombre,apellido,mensaje,input,DNI_REGEX
0,paula,fernandez,dni 7777777y,"el lunes tuve 37, el martes 39",7777777y
1,aitor,rodriguez,hola mi dni es 12345678X,tengo 39 grados,12345678X
2,carolina,perez,062626200w,"37C, 36.5C, 38ºC",62626200w

In [8]:
df['fiebre_REGEX'] = df.input.apply(lambda x: lista_coincidencias(fiebre, x))
df.head()

,nombre,apellido,mensaje,input,DNI_REGEX,fiebre_REGEX
0,paula,fernandez,dni 7777777y,"el lunes tuve 37, el martes 39",7777777y,"[37, 39]"
1,aitor,rodriguez,hola mi dni es 12345678X,tengo 39 grados,12345678X,[39]
2,carolina,perez,062626200w,"37C, 36.5C, 38ºC",62626200w,"[37C, 36.5C, 38ºC]"